@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito:ital,wght@0,500;0,600;1,400&display=swap');
:root{
  --red:#f65351;
  --primaryBlue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --grayishBlue: hsl(210, 60%, 98%);
  --lightBlue: hsl(205, 33%, 90%);
  --blue: hsl(219, 14%, 63%);
  --darkBlue: hsl(219, 12%, 42%);
  --vdarkBlue: hsl(224, 21%, 14%);
}
*{
  margin: 0px;
  padding: 0;
  
}
body{
  background: var(--grayishBlue);
}

.App{
 
  height: 100vh;
 
}